html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #353535;
  font-family: 'Roboto', sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #FFC107;
  border: #353535 solid;
  border-width: 0.2em 0;
  min-height: 4em;
}

header.navbar {
  margin-top: -0.2em;
}

footer.navbar {
  margin-bottom: -0.2em;
}

main {
  flex: 1;
}

/* UTILS */

/* DISPLAY */

.flexible {
  display: flex;
}

.flexible__center {
  align-items: center;
  justify-content: space-around;
}

.flex__unit-1 {
  flex: 1;
}

/* TEXT */

.text-center {
  text-align: center;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

/* Spacing */

.u-marginVn {
  margin-bottom: 0;
  margin-top: 0;
}
.u-marginTn {
  margin-top: 0;
}

.u-paddingAs {
  padding: 10px;
}
