html {
  box-sizing: border-box;
  /* http://blog.typekit.com/2014/02/05/kerning-on-the-web/ */
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  /* http://maximilianhoffmann.com/posts/better-font-rendering-on-osx */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* http://www.johanbrook.com/articles/native-style-momentum-scrolling-to-arrive-in-ios-5/ */
  -webkit-overflow-scrolling: touch;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #353535;
  font-family: 'Roboto', sans-serif;
}

a {
  /* http://css-tricks.com/snippets/css/remove-gray-highlight-when-tapping-links-in-mobile-safari/ */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a[ng-click]{
  cursor: pointer;
}

.navbar {
  background-color: #FFC107;
  border: #353535 solid;
  border-width: 0;
}

header.navbar {
  border-bottom-width: .2em;
  height: 4em;
}

footer.navbar {
  border-top-width: .2em;
  height: 5em;
}

@media (min-width: 768px) {

  footer.navbar {
    height: 6em;
  }
}

main {
  overflow: auto;
  /* viewport height - (header navbar height + footer navbar height) */
  height: calc(100vh - 9em);
}

@media (min-width: 768px) {

  main {
    /* viewport height - (header navbar height + footer navbar height) */
    height: calc(100vh - 10em);
  }
}

.nav-btn {
  color: #353535;
  display: block;
  font-size: .9em;
  text-align: center;
  text-decoration: none;
}

.nav-btn:hover,
.nav-btn.active {
  color: white;
}

.nav-btn svg {
  display: block;
  height: 35px;
  margin: 0 auto 5px;
  width: 28px;
}

@media (min-width: 768px) {
  .nav-btn {
    font-size: 1em;
  }

  .nav-btn svg {
    height: 50px;
    width: 40px;
  }
}

.nav-btn .fill {
  fill: #353535;
}

.nav-btn .stroke {
  stroke: #353535;
}

.nav-btn:hover .fill,
.nav-btn.active .fill {
  fill: #fff;
}

.nav-btn:hover .stroke,
.nav-btn.active .stroke {
  stroke: #fff;
}

/* UTILS */

/* DISPLAY */

.flexible {
  display: flex;
}

.flexible__center {
  align-items: center;
  justify-content: space-around;
}

.flex__unit-1 {
  flex: 1;
}

/* TEXT */

.text-center {
  text-align: center;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

/* Spacing */

.u-marginVn {
  margin-bottom: 0;
  margin-top: 0;
}
.u-marginTn {
  margin-top: 0;
}

.u-paddingAs {
  padding: 10px;
}

.u-paddingVs {
  padding-bottom: 10px;
  padding-top: 10px;
}

.map-container {
  position: relative;
  height: 100%;
}

.map-container .map {
  height: 100%;
}

.venue-info {
  background-color: #FFF;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  z-index: 1001;

  padding: 15px;
}

.venue-info .image {
  float: left;
  height: 100%;
  border-radius: 3px;
  margin-right: 10px;
}
