html {
  box-sizing: border-box;
  /* http://blog.typekit.com/2014/02/05/kerning-on-the-web/ */
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  /* http://maximilianhoffmann.com/posts/better-font-rendering-on-osx */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* http://www.johanbrook.com/articles/native-style-momentum-scrolling-to-arrive-in-ios-5/ */
  -webkit-overflow-scrolling: touch;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #353535;
  font-family: 'Roboto', sans-serif;
}

a {
  /* http://css-tricks.com/snippets/css/remove-gray-highlight-when-tapping-links-in-mobile-safari/ */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a[ng-click]{
  cursor: pointer;
}
.scroll-area {
  height: 280px;
  overflow: auto;
}
.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #FFC107;
  border: #353535 solid;
  border-width: 0.2em 0;
  min-height: 4em;
}

header.navbar {
  margin-top: -0.2em;
}

footer.navbar {
  margin-bottom: -0.2em;
}

.nav-btn {
  color: #353535;
  display: block;
  font-size: .9em;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

.nav-btn:hover,
.nav-btn.active {
  color: white;
}

.nav-btn svg {
  display: block;
  height: 35px;
  margin: 0 auto 5px;
  width: 28px;
}

@media (min-width: 768px) {
  .nav-btn {
    font-size: 1em;
  }

  .nav-btn svg {
    height: 50px;
    width: 40px;
  }
}

.nav-btn .fill {
  fill: #353535;
}

.nav-btn .stroke {
  stroke: #353535;
}

.nav-btn:hover .fill,
.nav-btn.active .fill {
  fill: #fff;
}

.nav-btn:hover .stroke,
.nav-btn.active .stroke {
  stroke: #fff;
}

/* UTILS */

/* DISPLAY */

.flexible {
  display: flex;
}

.flexible__center {
  align-items: center;
  justify-content: space-around;
}

.flex__unit-1 {
  flex: 1;
}

/* TEXT */

.text-center {
  text-align: center;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

/* Spacing */

.u-marginVn {
  margin-bottom: 0;
  margin-top: 0;
}
.u-marginTn {
  margin-top: 0;
}

.u-paddingAs {
  padding: 10px;
}

.u-paddingVs {
  padding-bottom: 10px;
  padding-top: 10px;
}
