<footer class="navbar flexible">
  <ul class="list-unstyled flexible flex__unit-1 flexible__center u-marginVn">
    <li>
      <!-- <i></i> -->
      <span ng-click = "goToView('beer')">Cerveza</span>
    </li>
    <li>
      <!-- <i></i> -->
      <span ng-click = "goToView('about')" >Info</span>
    </li>
    <li>
      <!-- <i></i> -->
      <span ng-click = "goToView('map')">Mapa</span>
    </li>
    <li>
      <!-- <i></i> -->
      <span ng-click= "goToView('events')" >Eventos</span>
    </li>
    <li>
      <!-- <i></i> -->
      <span ng-click="goToView('notifications')" >Noticias</span>
    </li>
  </ul>
</footer>
